name: bettermusic

services:
  consul:
    image: docker.io/hashicorp/consul:latest
    ports:
      - "8500:8500"
  album-db:
    image: postgres:16
    environment:
      POSTGRES_DB: albumdb
      POSTGRES_USER: album
      POSTGRES_PASSWORD: album
    volumes:
      - "album_db_data:/var/lib/postgresql/data"
  recensioni-db:
    image: postgres:16
    environment:
      POSTGRES_DB: recensionidb
      POSTGRES_USER: recensioni
      POSTGRES_PASSWORD: recensioni
    volumes:
      - "recensioni_db_data:/var/lib/postgresql/data"
  connessioni-db:
    image: postgres:16
    environment:
      POSTGRES_DB: connessionidb
      POSTGRES_USER: connessioni
      POSTGRES_PASSWORD: connessioni
    volumes:
      - "connessioni_db_data:/var/lib/postgresql/data"
  recensioni-seguite-db:
    image: postgres:16
    environment:
      POSTGRES_DB: recseguitedb
      POSTGRES_USER: recseg
      POSTGRES_PASSWORD: recseg
    volumes:
      - "recensioni_seguite_db_data:/var/lib/postgresql/data"
    
    
  kafka:
#    image: docker.io/bitnami/kafka:4.0
    image: docker.io/bitnamilegacy/kafka:4.0.0-debian-12-r10
    ports:
      - "9092:9092"
    volumes:
      - "kafka_data:/bitnami"
    environment:
      # KRaft settings
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      # Listeners
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      # - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      # Auto provisioning 
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true 
      - KAFKA_CFG_NUM_PARTITIONS=4
      - KAFKA_CFG_DEFAULT_REPLICATION_FACTOR=1

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080-8081:8080"
    depends_on:
      - consul
    deploy:
      mode: replicated
      replicas: 2
      endpoint_mode: vip
  album:
    build: ./album
    depends_on:
      - album-db
      - kafka 
      - consul
    deploy:
      mode: replicated
      replicas: 2
  recensioni:
    build: ./recensioni
    depends_on:
      - recensioni-db
      - kafka 
      - consul
    deploy:
      mode: replicated
      replicas: 2
  connessioni:
    build: ./connessioni
    depends_on:
      - connessioni-db
      - kafka 
      - consul
    deploy:
      mode: replicated
      replicas: 2
  recensioni-seguite:
    build: ./recensioni-seguite
    depends_on:
      - recensioni-seguite-db
      - kafka 
      - consul
    deploy:
      mode: replicated
      replicas: 2

volumes:
  kafka_data:
    driver: local
  album_db_data:
    driver: local
  recensioni_db_data:
    driver: local
  connessioni_db_data:
    driver: local
  recensioni_seguite_db_data:
    driver: local